node_modules

# symlink to result of nix build
result

kanata/*.dll
kanata/*.exe

home/.config/ghostty/config-local.ghostty

# obsolete
home/.pi/agent/oauth.json
# obsolete, backup of above
home/.pi/agent/oauth.json.migrated
home/.pi/agent/auth.json
home/.pi/agent/sessions
home/.pi/agent/tools
home/.pi/agent/*.jsonl

.claude/**
.codex/**
.vscode/**

*.mcp.json
opencode.json

# Claude Code local settings (contains secrets)
.claude/settings.local.json
