headerbar {
  min-height: 24px;
  padding: 0;
  margin: 0;
}

tabbar tabbox {
  margin: 0;
  padding: 0;
  min-height: 10px;
  font-family: Iosevka;
}

tabbar tabbox tab {
  margin: 0;
  padding: 0;
}

tabbar tabbox tab label {
  font-size: 12px;
}
